.ourclient {
  gap: 30px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.ourclient__card {
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.ourclient__card:hover,
.ourclient__card:focus {
  width: 170px;
  height: 92px;
  border: 1px solid var(--light-blue);
  border-radius: 4px;
}
.ourclient__card:hover .ourclient__logo,
.ourclient__card:focus .ourclient__logo {
  fill: var(--light-blue);
}
.ourclient__logo {
  display: inline-block;
  width: 106px;
  height: 60px;
  stroke-width: 0;
  stroke: currentColor;
  fill: #afb1b8;
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
